.user {
    border: 2px solid black;
    padding: 5px;
    margin: 30px 100px;

    display: grid;
    grid-template:
    'avatar body' auto
    / 224px 1fr;
}

.avatar {
    grid-area: avatar;

    width: 200px;
    height: 200px;
    object-fit: cover;

    border: 2px solid black;
    border-radius: 50%;

    margin: 10px;
}

.body {
    grid-area: body;
    margin: 10px;
}