.grid {
  min-height: 100%;

  display: grid;
  grid-template:
  "header" minmax(70px, auto)
  "center" 1fr
  "footer" minmax(30px, auto)
  / 1fr;
}

.header {
  grid-area: header;
}

.center {
  grid-area: center;

  display: grid;
  grid-template:
  ". inner ." 1fr
  / 1fr minmax(320px, var(--max-width)) 1fr;

  /* tmp */
  background-color: #fff;
}

.centerInner {
  grid-area: inner;

  display: grid;
  grid-template:
  "main nav" 1fr
  / 1fr 200px;
}

.main {
  grid-area: main;
}

.nav {
  grid-area: nav;
}

.footer {
  grid-area: footer;
}