.messages {
    grid-area: one;
    
    height: 100%;

    /* tmp */
    background-color: lightblue;

    display: grid;
    grid-template:
    'list' 1fr
    'form' 100px
    / 1fr
}

.list {
    grid-area: list;

    list-style: none;

    margin: 30px;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    word-break: break-all;
}

.friendItem,
.myItem {
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;

    position: relative;
}

.friendItem::before {
    position: absolute;
    top: 0;
    content: '<';
    margin-left: -20px;
    margin-right: 10px;
}

.myItem {
    align-self: flex-end;
}
.myItem::after {
    position: absolute;
    top: 0;
    content: '>';
    margin-right: -20px;
    margin-left: 10px;
}
