.headerInnerWrapper {
    height: 100%;

    display: grid;
    grid-template:
    ". content ." auto
    / 1fr minmax(320px, var(--max-width)) 1fr;

    /* tmp */
    background-color: rgba(255, 0, 0, .5);
}

.headerContent {
    grid-area: content;

    /* tmp */
    background-color: red;
}

.logo {
    display: block;
    height: 50px;
    
    margin: 10px;
}