.navInner {
    height: 100%;

    /* tmp */
    background-color: skyblue;
}

.list {
    list-style: none;

    text-align: center;

    margin: 0;
    padding: 10px 0;
}

.list a {
    text-decoration: none;

    color: black;
}

.activeLink {
    font-weight: bold;
}
a.activeLink::before {
    content: '>>> ';
}
a.activeLink::after {
    content: ' <<<';
}